@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-navigation: 'Raleway', sans-serif;
	--font-title: 'Birthstone', serif;
	--color-primary-50: #fef8ee;
	--color-primary-100: #feefd6;
	--color-primary-200: #fbdaad;
	--color-primary-300: #f9c078;
	--color-primary-400: #f59b42;
	--color-primary-500: #f28123;
	--color-primary-600: #e36313;
	--color-primary-700: #bc4b12;
	--color-primary-800: #963c16;
	--color-primary-900: #793315;
	--color-primary-950: #411809;
	--color-secondary-50: #f4f7fb;
	--color-secondary-100: #e9eff5;
	--color-secondary-200: #cedce9;
	--color-secondary-300: #a3bfd6;
	--color-secondary-400: #719cbf;
	--color-secondary-500: #4f80a8;
	--color-secondary-600: #3e6990;
	--color-secondary-700: #325372;
	--color-secondary-800: #2c4760;
	--color-secondary-900: #293d51;
	--color-secondary-950: #1b2836;
	--color-neutral-50: #f5f5f3;
	--color-neutral-100: #e8e8e4;
	--color-neutral-200: #d1d1c9;
	--color-neutral-300: #adada1;
	--color-neutral-400: #82826f;
	--color-neutral-500: #5c5c4d;
	--color-neutral-600: #454537;
	--color-neutral-700: #33332a;
	--color-neutral-800: #262620;
	--color-neutral-900: #1f271b;
	--color-neutral-950: #12140f;
	--color-background-50: #ffffff;
	--color-background-100: #fbfbff;
	--color-background-200: #f7f7ff;
	--color-background-300: #ececfa;
	--color-background-400: #dcdcf0;
	--color-accent-50: #f1f8f1;
	--color-accent-100: #ddeedd;
	--color-accent-200: #bdddbf;
	--color-accent-300: #91c497;
	--color-accent-400: #6baa75;
	--color-accent-500: #41884f;
	--color-accent-600: #2f6c3c;
	--color-accent-700: #265631;
	--color-accent-800: #204529;
	--color-accent-900: #1b3923;
	--color-accent-950: #0e2013;
}
